.sectionFirst {
    max-width: 100%;
    width: 90%;
  
  &__container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    &--description {
      width: 70%;
    }
  }
  &__head {
    font-size: 36px;
    width: 100%;
    &--emotion {
      width: 70%;
    }
  }
  &__image {
    width: 100%;
    border-radius: 10px;
  }
}

@media(min-width : 400px) {
  .sectionFirst {
  &__container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    &--description {
      width: 50%;
    }
  }
  &__head {
    font-size: 48px;
    width: 70%;
    line-height: 54px;
    &--emotion {
      width: 50%;
    }
  }
  &__image {
    width: 100%;
    border-radius: 10px;
  }
}
}

