.fourthSection {
  width: 90%;
  &__head {
    font-size: 36px;
    width: 90%;
  }
  &__head + p {
    width: 70%;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-gap: 1rem;
   &--item img {
    border-radius: 24px;
   }
   &--personOne  {
     margin-top: 6rem;
   }
    &--personThree {
    grid-column: 2;
    margin-top: -6rem;
  }

  }

}
@media (min-width : 375px) {
  .fourthSection {
    padding-top: 2rem;
    display: flex;
    width: 80%;
    &__head {
      width: 70%;
    }
    &__head + p {
      width: 60%;
    }
    &__list {
      &--personOne  {
        margin-top: 11rem;
      }
       &--personThree {
       grid-column: 2;
       margin-top: -10rem
     }
    }
    &__content {
      width: 40%;
      padding-right: 4rem;
      padding-top: 11rem;
    }
    &__content small a {
    color: #EB5757;
    }
  }
}