.header-site__menu {
  padding: 1rem;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 0;
  transform: translateX(-100%);
  transition: transform 0.3s;
  ul {
      background-color: #ffffff;
      width: 100vw;
      height: 100vh;
      padding: 5rem;
      display: flex;
      flex-direction: column;
      row-gap: 2rem;
      border-radius: 5px;
  }
}
.header-site__container > [type="checkbox"]:checked ~ nav {
  transform: translateX(0%);
  z-index: 2;
  top: 70%;
  left: -5%;
}
#menu-checkbox {
  position: absolute;
  top: -100%;
  left: 0;
  z-index: -1;
}